@model Product

<h1>Name: @Model.ProductName</h1>
<h1>Catagory Name: @Model.Catagories.CatagoryName</h1>
<h1>Old Price: @Model.OldPrice</h1>
<h1>New Price: @Model.NewPrice</h1>
<h1>Percentage: @Model.Percentage</h1>
<img style="width: 150px" src="~/assets/img/shop/@Model.ProductImageUrl" alt="">
